//breakpoints
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

//spacings
$s-xxxs: 4px;
$s-xxs: 8px;
$s-xs: 12px;
$s-sm: 16px;
$s-md: 20px;
$s-lg: 24px;
$s-xl: 28px;
$s-xxl: 32px;
$s-xxxl: 36px;

//colors
$color-tertiary-light: #1db3ce;
$color-grey-light: #fce4ec;
$color-grey-white: #fff;